.single {
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    box-shadow: 10px 10px 10px #697eb8;
  }
  .single:hover {
    border-left: 28px solid  rgb(231, 74, 144);
  }